# Python bytecode
*.pyc

# Logs
*.log

# Virtualenv
neuEnv/

# Build
build/
dist/
__pycache__/

# IDE
.vscode/
.idea/

*.DS_Store

# DataSets
neu-plant-seedling-classification-2025/
# neu-plant-seedling-classification-num2-2025/