# Python bytecode
*.pyc

# Logs
*.log

# Virtualenv
neuEnv/

# Build
build/
dist/
__pycache__/

# IDE
.vscode/
.idea/

*.DS_Store

# DataSets
neu-plant-seedling-classification-2025/
# neu-plant-seedling-classification-num2-2025/
task2/neu-plant-seedling-classification-num2-2025
task3/data3
task4/detection
task4/runs
task4/yolo_dataset
task4/yolo_dataset_optuna
task5/segmentation
# submission files
*.csv
# model
*.pth
*.pt